
{% extends "userportal/base.html" %}
{% block content %}
<section class="section-page-header">
    <div class="container">
        <h1 class="entry-title">Add Ticket</h1>
    </div>
</section>

<section class="section-page-content">
    <div class="container">
        <div class="row">
            <div id="primary" class="col-sm-12 col-md-12">
                <div class="section-select-payment-method">

                   
                    <!-- Tab panes -->
                    <div class="tab-content clearfix">
                        <div role="tabpanel" class="tab-pane active" id="credit-card">
                            <form class="form-group" method="POST" enctype="multipart/form-data" >
                                {{ form.hidden_tag() }}
                                                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Ticket Name</label>
                                        {{ form.name(class="form-control") }}
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>Day</label>
                                        {{ form.day(class="form-control ") }}

                                    </div>
                                    <div class="cvv col-sm-4">
                                        <label>Quantity</label>
                                        {{ form.quantity(class="form-control ") }}
                                    </div>
                                    <div class="cvv col-sm-4">
                                        <label>Price</label>
                                        {{ form.price(class="form-control ") }}
                                    </div>
                                </div><br>
                                
                                <div class="col-sm-12">
                                    <label>Features/Grants</label>
                                    {{ form.features(class="form-control") }}
                                </div>
                            

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Image 1-Cover photo</label>
                                        {{ form.image(class="form-control ") }}

                                    </div>
                                 
                                </div><br>
                                <div class="section-select-payment-method-action">
                                <div class="col-xs-6 col-sm-6">
                                    {{ form.submit(class="primary-link ") }}

                                </div>
                            </div>
                                 
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="paypal"></div>
                    </div>
                    <div class="section-select-payment-method-action">
                        
                </div>
            </div>	
        </div>	
    </div>	
</section>
{% endblock %}