{% extends "userportal/base.html" %}
{% block content %}

		
	
		<section class="section-event-single-header">
			<div class="container">
				<h1></h1>
				<ul class="ticket-purchase">
					
					<li>
						<span> </span>
					</li>
				
				</ul>
			</div>
		</section>
	
		<section class="section-event-single-content">
			<div class="container">
				<div class="row">
					<div id="primary" class="col-sm-12 col-md-12">
						<form method="post" >
                         <p>You are not allowed to edit this </p>
						<button> Back</button>
						</div>
                        </form>
						
		</section>
	
{% endblock %}


       <!----<form action="/add_to_cart" method="post">
                                                            <input type="hidden" name="item_name" value=" ticket.name ">
                                                            <input type="hidden" name="item_price" value="ticket.price ">
                                                            <button type="submit">Add to Cart</button>
                                                        </form>                                                        -Read More Button-->