{% extends "web/base.html" %}
{% block content %}

		
	
		<section class="section-event-single-header">
			<div class="container">
				<h1>{{event.name}}</h1>
				<ul class="ticket-purchase">
					<li>
						Tickets from
					</li>
					<li>
						<span>{{event.baseprice}} cedis</span>
					</li>
					<li>
					</li>
				</ul>
			</div>
		</section>
	
		<section class="section-event-single-content">
			<div class="container">
				<div class="row">
					<div id="primary" class="col-sm-12 col-md-12">
						
						<div class="event-info">
							<div class="row">
								<div class="col-md-6">
									<div class="event-info-img">
										<div id="slider" class="flexslider">
											<ul class="slides">
                                                <li>
													<img src="/{{event.image1}}" alt="image"/>
												</li>
												<li>
													<img src="/{{event.image2}}" alt="image"/>
												</li>
												<li>
													<img src="/{{event.image3}}" alt="image"/>
												</li>
											</ul>
										</div>
										<div id="carousel" class="flexslider">
											<ul class="slides">
                                                <li>
													<img src="/{{event.image1}}" alt="image" style="height: 200px;"/>
												</li>
												<li>
													<img src="/{{event.image2}}" alt="image" style="height: 200px;"/>
												</li>
												<li>
													<img src="/{{event.image3}}" alt="image" style="height: 200px;"/>
												</li>
												
											</ul>
										</div>									
									</div>
								</div>
								<div class="col-md-6">
									<div class="event-info-about">
										<h2>ABOUT THIS EVENT</h2>
										<p>Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi. Eu ponderum mediocrem has, vitae adolescens in pro. Mea liber ridens inermis ei, mei legendos vulputate an, labitur tibique te qui.</p>
										<p>Mel iudico constituto efficiendi. Eu ponderum mediocrem has, vitae adolescens in pro. Mea liber ridens inermis ei, mei legendos vulputate an, labitur tibique te qui.</p>
										<p>Omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi. Eu ponderum mediocrem has, vitae adolescens in pro. Mea liber ridens inermis ei, mei legendos vulputate an, labitur tibique te qui. Mel iudico constituto efficiendi. Eu ponderum mediocrem has, vitae adolescens in pro. Mea liber ridens inermis ei, mei legendos vulputate an, labitur tibique te qui.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="event-highlights">
							<h2>Tickets</h2>
                            <section class="section-calendar-events" style="width: 100%;">
                                <div class="container"> 
                                    <div class="row blog">
                                        <div class="col-md-12">
                                          <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
                                            
                                            <!-- Carousel items -->
                                            <div class="carousel-inner">
                                              <div class="carousel-item active">
                                                <div class="row">
                                                    {% for ticket in tickets %}
                                                  <div class="col-md-4" >
                                                    <div class="item-box-blog">
                                                      <div class="item-box-blog-image">
                                                        <!--Date-->
                                                        <!--Image-->
                                                        <figure> <img alt="" style="max-width:200px;height:200px;" src="/{{ticket.image}}"> </figure>
                                                      </div>
                                                      <div class="item-box-blog-body">
                                                        <!--Heading-->
                                                        <div class="item-box-blog-heading">
                                                          <a href="#" tabindex="0">
                                                            <h5>{{ticket.name}}</h5>
                                                          </a>
                                                        </div>
                                                        <!--Data-->
                                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                                          <p> {{ticket.quantity}} left</p>
                                                          <p> {{ticket.price}} cedis </p>
                                                        </div>
                                                        <!--Text-->
                                                        <div class="item-box-blog-text">
                                                            <ul>{%if ticket.features %}
                                                                {% for val in ticket.features | split(",") %}
                                                                    <li>{{ val }}</li>
                                                                {% endfor %}
																{%else%}
																<li> Features/Grants not listed </li>
																{% endif %}
                                                                </ul>
                                                          <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor.</p>
                                                        </div>
                                                        <div class="mt"> <a href="/add_to_cart?name={{ ticket.name }}&price={{ ticket.price }}&id={{ ticket.id }}" tabindex="0" class="btn bg-blue-ui white read">Add to cart</a> </div>
                                                        <!--Read More Button-->
                                                      </div>
                                                    </div>
                                                  </div>
                                                  {% endfor %}
                                                  
                                                </div>
                                                <!--.row-->
                                              </div>
                                              <!--.item-->
                                            </div>
                                            <!--.carousel-inner-->
                                          </div>
                                          <!--.Carousel-->
                                        </div>
                                    </div>


                        </div>
						</div>
						<div class="event-location">
							<h2>Location</h2>
							<p><span>{{event.location}}</span></p>
						</div>
					</div>
				</div>
			</div>
		</section>
	
{% endblock %}


       <!----<form action="/add_to_cart" method="post">
                                                            <input type="hidden" name="item_name" value=" ticket.name ">
                                                            <input type="hidden" name="item_price" value="ticket.price ">
                                                            <button type="submit">Add to Cart</button>
                                                        </form>                                                        -Read More Button-->