{% extends "web/base.html" %}
{% block content %}

		
	
		<section class="section-event-single-header">
			<div class="container">
				<h1>{{event.name}}</h1>
				<ul class="ticket-purchase">
					<li>
						Tickets from
					</li>
					<li>
						<span>{{event.baseprice}} cedis</span>
					</li>
					<li>
						<a href="#">Purchase Ticket</a>
					</li>
				</ul>
			</div>
		</section>
	
		<section class="section-event-single-content">
			<div class="container">
				<div class="row">
					<div id="primary" class="col-sm-12 col-md-12">
						<div class="event-features">
							<ul>
								<li>
									<i class="fa fa-mobile fa-3x" aria-hidden="true"></i>
									Smartphone <br> tickets accepted
								</li>
								<li>
									<i class="fa fa-hourglass-o fa-2x" aria-hidden="true"></i>
									Duration: 1 hour <br> and 30 minutes
								</li>
								<li>
									<i class="fa fa-subway fa-2x" aria-hidden="true"></i>
									Metro Line 3: stop Palau <br> Reial or Les Corts
								</li>
								<li>
									<i class="fa fa-car fa-2x" aria-hidden="true"></i>

									Car Parking:<br> Available
								</li>
							</ul>
						</div>
						<div class="event-info">
							<div class="row">
								<div class="col-md-6">
									<div class="event-info-img">
										<div id="slider" class="flexslider">
											<ul class="slides">
                                                <li>
													<img src="/static/images/festivals.jpg" alt="image"/>
												</li>
												<li>
													<img src="/static/images/beach.jpg" alt="image"/>
												</li>
												<li>
													<img src="/static/images/hangouts.jpg" alt="image"/>
												</li>
												<li>
													<img src="/static/images/parties.jpg" alt="image"/>
												</li>
											</ul>
										</div>
										<div id="carousel" class="flexslider">
											<ul class="slides">
                                                <li>
													<img src="/static/images/festivals.jpg" alt="image"/>
												</li>
												<li>
													<img src="/static/images/beach.jpg" alt="image"/>
												</li>
												<li>
													<img src="/static/images/hangouts.jpg" alt="image"/>
												</li>
												<li>
													<img src="/static/images/parties.jpg" alt="image"/>
												</li>
											</ul>
										</div>									
									</div>
								</div>
								<div class="col-md-6">
									<div class="event-info-about">
										<h2>ABOUT THIS EVENT</h2>
										<p>Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi. Eu ponderum mediocrem has, vitae adolescens in pro. Mea liber ridens inermis ei, mei legendos vulputate an, labitur tibique te qui.</p>
										<p>Mel iudico constituto efficiendi. Eu ponderum mediocrem has, vitae adolescens in pro. Mea liber ridens inermis ei, mei legendos vulputate an, labitur tibique te qui.</p>
										<p>Omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi. Eu ponderum mediocrem has, vitae adolescens in pro. Mea liber ridens inermis ei, mei legendos vulputate an, labitur tibique te qui. Mel iudico constituto efficiendi. Eu ponderum mediocrem has, vitae adolescens in pro. Mea liber ridens inermis ei, mei legendos vulputate an, labitur tibique te qui.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="event-highlights">
							<h2>Tickets</h2>
                            <section class="section-calendar-events">
                                <div class="container"> 
                                    <div class="row blog">
                                        <div class="col-md-12">
                                          <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
                                           
                                            <!-- Carousel items -->
                                            <div class="carousel-inner">
                                              <div class="carousel-item active">
                                                <div class="row">
                                                    {% for ticket in tickets %}
                                                  <div class="col-md-4" >
                                                    <div class="item-box-blog">
                                                      <div class="item-box-blog-image">
                                                        <!--Date-->
                                                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                                        <!--Image-->
                                                        <figure> <img alt="" src="{{ticket.image}}"> </figure>
                                                      </div>
                                                      <div class="item-box-blog-body">
                                                        <!--Heading-->
                                                        <div class="item-box-blog-heading">
                                                          <a href="#" tabindex="0">
                                                            <h5>{{ticket.name}}</h5>
                                                          </a>
                                                        </div>
                                                        <!--Data-->
                                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                                          <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                                        </div>
                                                        <!--Text-->
                                                        <div class="item-box-blog-text">
                                                          <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor.</p>
                                                        </div>
                                                        <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                                        <!--Read More Button-->
                                                      </div>
                                                    </div>
                                                  </div>
                                                  {% endfor %}
                                                  <div class="col-md-4" >
                                                    <div class="item-box-blog">
                                                      <div class="item-box-blog-image">
                                                        <!--Date-->
                                                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                                        <!--Image-->
                                                        <figure> <img alt="" src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg"> </figure>
                                                      </div>
                                                      <div class="item-box-blog-body">
                                                        <!--Heading-->
                                                        <div class="item-box-blog-heading">
                                                          <a href="#" tabindex="0">
                                                            <h5>News Title</h5>
                                                          </a>
                                                        </div>
                                                        <!--Data-->
                                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                                          <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                                        </div>
                                                        <!--Text-->
                                                        <div class="item-box-blog-text">
                                                          <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor.</p>
                                                        </div>
                                                        <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                                        <!--Read More Button-->
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-4" >
                                                    <div class="item-box-blog">
                                                      <div class="item-box-blog-image">
                                                        <!--Date-->
                                                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                                        <!--Image-->
                                                        <figure> <img alt="" src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg"> </figure>
                                                      </div>
                                                      <div class="item-box-blog-body">
                                                        <!--Heading-->
                                                        <div class="item-box-blog-heading">
                                                          <a href="#" tabindex="0">
                                                            <h5>News Title</h5>
                                                          </a>
                                                        </div>
                                                        <!--Data-->
                                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                                          <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                                        </div>
                                                        <!--Text-->
                                                        <div class="item-box-blog-text">
                                                          <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor.</p>
                                                        </div>
                                                        <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                                        <!--Read More Button-->
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <!--.row-->
                                              </div>
                                              <!--.item-->
                                              <div class="carousel-item ">
                                                <div class="row">
                                                  <div class="col-md-4" >
                                                    <div class="item-box-blog">
                                                      <div class="item-box-blog-image">
                                                        <!--Date-->
                                                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                                        <!--Image-->
                                                        <figure> <img alt="" src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg"> </figure>
                                                      </div>
                                                      <div class="item-box-blog-body">
                                                        <!--Heading-->
                                                        <div class="item-box-blog-heading">
                                                          <a href="#" tabindex="0">
                                                            <h5>News Title</h5>
                                                          </a>
                                                        </div>
                                                        <!--Data-->
                                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                                          <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                                        </div>
                                                        <!--Text-->
                                                        <div class="item-box-blog-text">
                                                          <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor.</p>
                                                        </div>
                                                        <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                                        <!--Read More Button-->
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-4" >
                                                    <div class="item-box-blog">
                                                      <div class="item-box-blog-image">
                                                        <!--Date-->
                                                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                                        <!--Image-->
                                                        <figure> <img alt="" src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg"> </figure>
                                                      </div>
                                                      <div class="item-box-blog-body">
                                                        <!--Heading-->
                                                        <div class="item-box-blog-heading">
                                                          <a href="#" tabindex="0">
                                                            <h5>News Title</h5>
                                                          </a>
                                                        </div>
                                                        <!--Data-->
                                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                                          <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                                        </div>
                                                        <!--Text-->
                                                        <div class="item-box-blog-text">
                                                          <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor.</p>
                                                        </div>
                                                        <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                                        <!--Read More Button-->
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-4" >
                                                    <div class="item-box-blog">
                                                      <div class="item-box-blog-image">
                                                        <!--Date-->
                                                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                                        <!--Image-->
                                                        <figure> <img alt="" src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg"> </figure>
                                                      </div>
                                                      <div class="item-box-blog-body">
                                                        <!--Heading-->
                                                        <div class="item-box-blog-heading">
                                                          <a href="#" tabindex="0">
                                                            <h5>News Title</h5>
                                                          </a>
                                                        </div>
                                                        <!--Data-->
                                                        <div class="item-box-blog-data" style="padding: px 15px;">
                                                          <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                                        </div>
                                                        <!--Text-->
                                                        <div class="item-box-blog-text">
                                                          <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor.</p>
                                                        </div>
                                                         <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                                        <!--Read More Button-->
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <!--.row-->
                                              </div>
                                              <!--.item-->
                                            </div>
                                            <!--.carousel-inner-->
                                          </div>
                                          <!--.Carousel-->
                                        </div>


                        </div>
						</div>
						<div class="event-location">
							<h2>Location</h2>
							<p><span>{{event.location}}</span></p>
						</div>
					</div>
				</div>
			</div>
		</section>
	
{% endblock %}