
{% extends "web/homebase.html" %}
{% block content %}
		<section class="section-todays-schedule">
			<div class="container">
				<div class="row">
					<div class="section-header">
						<h2>Upcoming Events</h2>
						<span class="todays-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{date}}</span>
					</div>
					<div class="section-content">
						<ul class="clearfix">
							{% for event in events[0:7] %}
							<li class="event-1">
								<img src="{{event.image1}}"  alt="image" style="height:50px;">
								<strong class="event-name">{{event.name}}</strong>
								<strong class="event-name">{{event.date.strftime("%m %b %Y")}}</strong>
								<a href="#" class="get-ticket">Get Ticket</a>
							</li>
							{% endfor %}
						</ul>
					
						<a href="" ><strong class="event-list-label">Full Event <span>Schedule</span></strong></a>
					</div>
				</div>
			</div>
		</section>
		



<br>
<br>
<br>		
<section class="section-upcoming-events">
	<div class="container">
		<div class="row">
			<div class="section-header">
				<h2>Featured Events</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.</p>
				<a href="#">See all upcoming events</a>
			</div>				
			<br>
			<br>
			<br>
			<div class="section-content">
				<ul class="clearfix">
					{%for event in events %}
					<li>
						<div class="date">
							<a href="#">
								<span style="font-size:12px;" class="day">{{event.date.strftime("%m %b %Y") }}</span>
								<span class="month">August</span>
								<span class="year">2016</span>
							</a>
						</div>
						<a href="#">
							<img src="{{event.image1}}" alt="image" style="height:300px;">
						</a>
						<div class="info">
							<p>{{event.name}}<span>{{event.location}}</span></p>
							<a href="#" class="get-ticket">Get Ticket</a>
						</div>
					</li>
					{% endfor %}
		
				</ul>
			</div>
		</div>
	</div>
</section>
<br>
<br>
<br>



<section class="section-call-to-action">
	<div class="container">
		<div class="row">
			<div class="section-content">
				<ul class="row clearfix">
					<li class="col-sm-12 col-md-9">
						<h3>AD space</h3>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
					</li>
					<li class="col-sm-12 col-md-3">
						<a href="#" class="action-btn">Learn More</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

		<section class="section-calendar-events">
			<div class="container"> 
				<div class="row ">
					<div class="section-header ">
						<h2>Events by Month</h2>

						<ul class="nav nav-tabs event-tabs" role="tablist">
							{%for month in upcoming_months%}
 
							<li role="presentation">
								<a style="font-size:18px;background-color: antiquewhite;" href="#{{month}}" role="tab" data-toggle="tab">{{month}}</a>
							</li>
							{% endfor %}
						
						</ul>
					</div>



					<div class="section-content">
						<div class="tab-content">
						    <div role="tabpanel" class="tab-pane active" id="{{upcoming_months[0]}}">
							
								<ul class="clearfix">
									
									{% for event in current_month_events %}
									<li>
										<div class="date">
											<a href="#">
												{{event.date.strftime("%m %b %Y")}}
											</a>
										</div>
										<a href="#">
											<img src="{{event.image1}}"  alt="image" style="height:250px;">
										</a>
										<div class="info">
											<p>{{event.name}}<span>{{event.location}}</span></p>
											<a href="#" class="get-ticket">Get Ticket</a>
										</div>
									</li> 
									{% endfor %}
									
								</ul>
							</div>
						    <div role="tabpanel" class="tab-pane" id="{{upcoming_months[1]}}">
								<ul class="clearfix">
									{% for event in one_month_events %}
									<li>
										<div class="date">
											<a href="#">
												{{event.date.strftime("%m %b %Y")}}
											</a>
										</div>
										<a href="#">
											<img src="{{event.image1}}"  alt="image" style="height:250px;">
										</a>
										<div class="info">
											<p>{{event.name}}<span>{{event.location}}</span></p>
											<a href="#" class="get-ticket">Get Ticket</a>
										</div>
									</li> 
									{% endfor %}
								</ul>
							
							</div>
						    <div role="tabpanel" class="tab-pane" id="{{upcoming_months[2]}}">
								<ul class="clearfix">
									{% for event in two_month_events %}
									<li>
										<div class="date">
											<a href="#">
												{{event.date.strftime("%m %b %Y")}}
											</a>
										</div>
										<a href="#">
											<img src="{{event.image1}}"  alt="image" style="height:250px;">
										</a>
										<div class="info">
											<p>{{event.name}}<span>{{event.location}}</span></p>
											<a href="#" class="get-ticket">Get Ticket</a>
										</div>
									</li> 
									{% endfor %}
								</ul>
							</div>
						   
						    <div role="tabpanel" class="tab-pane" id="tab7">
								<ul class="clearfix">
									<li>
										<div class="date">
											<a href="#">
												<span class="day">25</span>
												<span class="month">Nov</span>
												<span class="year">2016</span>
											</a>
										</div>
										<a href="#">
											<img src="images/upcoming-event-1.jpg" alt="image">
										</a>
										<div class="info">
											<p>BMW Open Championship <span>San Francisco</span></p>
											<a href="#" class="get-ticket">Get Ticket</a>
										</div>
									</li>
									<li>
										<div class="date">
											<a href="#">
												<span class="day">26</span>
												<span class="month">Nov</span>
												<span class="year">2016</span>
											</a>
										</div>
										<a href="#">
											<img src="images/upcoming-event-2.jpg" alt="image">
										</a>
										<div class="info">
											<p>Kiai Kanjeng Orchestra <span>San Francisco</span></p>
											<a href="#" class="get-ticket">Get Ticket</a>
										</div>
									</li>
									<li>
										<div class="date">
											<a href="#">
												<span class="day">27</span>
												<span class="month">Nov</span>
												<span class="year">2016</span>
											</a>
										</div>
										<a href="#">
											<img src="images/upcoming-event-3.jpg" alt="image">
										</a>
										<div class="info">
											<p>Envato Author SF Meetup <span>San Francisco</span></p>
											<a href="#" class="get-ticket">Get Ticket</a>
										</div>
									</li>
								</ul>
							
							</div>
						    <div role="tabpanel" class="tab-pane" id="tab8">
								<ul class="clearfix">
									<li>
										<div class="date">
											<a href="#">
												<span class="day">29</span>
												<span class="month">Dec</span>
												<span class="year">2016</span>
											</a>
										</div>
										<a href="#">
											<img src="images/upcoming-event-5.jpg" alt="image">
										</a>
										<div class="info">
											<p>Prep Football America <span>San Francisco</span></p>
											<a href="#" class="get-ticket">Get Ticket</a>
										</div>
									</li>
								</ul>
							
							</div>
						   
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<section class="section-event-category">
			<div class="spacer-35"></div>
			<div class="container">
				<div class="row">
					<div class="section-header">
						<h2>Events by Categories</h2>
					</div>
					<div class="section-content">
						<ul class="row clearfix">
							<li class="category-1 col-sm-4">
								<img style="height: 270px;"src="static/images/festivals.jpg" alt="image">
								<a href="#"><span>Concerts</span></a>
							</li>
							<li class="category-2 col-sm-4">
								<img style="height: 270px;" src="static/images/parties.jpg" alt="image">
								<a href="#"><span>Parties</span></a>
							</li>
							<li class="category-3 col-sm-4">
								<img style="height: 270px;" src="static/images/beach.jpg" alt="image">
								<a href="#"><span>Beach</span></a>
							</li>
							<li class="category-4 col-sm-4">
								<img style="height: 270px;" src="static/images/hangouts.jpg" alt="image">
								<a href="#"><span>Hangouts</span></a>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</section>
		
		<section class="section-video-parallax">
			<div class="container">
				<div class="section-content">
					<h2>3Tickets</h2>
					<p>Book events from anywhere in 191+ countries and get awesome experience Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
					<a href="#"><img src="images/play-btn.png" alt="image"></a>
				</div>
			</div>
		</section>
		
		<br>
		
		<section class="section-call-to-action">
			<div class="container">
				<div class="row">
					<div class="section-content">
						<ul class="row clearfix">
							<li class="col-sm-12 col-md-9">
								<h3>Ad Space</h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
							</li>
							<li class="col-sm-12 col-md-3">
								<a href="#" class="action-btn">Learn More</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		
		<section class="section-latest">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-8">
						<div class="latest-news">
							<div class="section-header">
								<h2>Articles</h2>
							</div>
							<div class="section-content">
								<ul class="clearfix">
									{% for article in articles %}
									<li class="row news-item">
										<div class="col-sm-5 news-item-img">
											<!----<div class="date">
												<a href="#">
													<span class="day"></span>
												</a>
											</div>-->

											{% if article.image%}
											<a href="#"><img style="height:230px;"src="{{article.image}}" alt="image"></a>
											{%else%}
											<a href="#"><img src="static/images/nm.jpg" alt="image"></a>
											{% endif%}
										</div>
										<div class="col-sm-7 news-item-info">
											<h3><a href="#">{{article.title}}</a></h3>
									<span class="meta-data">{{article.date}} by <a href="#">Admin</a></span>
											<p>{{article.content}}</p>
										</div>
									</li>
									{%endfor%}
									
								</ul>
								<div class="new-item-pagination">
									<nav aria-label="Page navigation">
										<ul class="pagination">
											<li class="active"><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#">5</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-sm-12 col-md-4">
						<div class="latest-tweets">
							<div class="section-header">
								<h2>Our Tweets</h2>
							</div>
							<div class="section-content">
								<div class="twitter-header clearfix">
									<div class="twitter-name">
										<a href="{{about.twitter}}" target="_blank">
											<img style="height:50px;"src="static/images/3img.jpg" alt="image">
											<strong>myticket.com</strong>
											<span>@{{about.twitter[12:]}}</span>
										</a>
									</div>
									<div class="twitter-btn">
										<a href="#">Follow</a>
									</div>
								</div>
								<div class="tweet-list clearfix">
									<ul class="clearfix">
										<li class="row tweet-item">
											<div class="col-sm-10">
												<p><a href="#">@myticket</a> Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam nonummy nibh euismod dolore magna aliquam <a href="#">#EratVolutpat</a>.</p>
											</div>
											<div class="col-sm-2">
												<span>17 min</span>
											</div>
										</li>
										<li class="row tweet-item">
											<div class="col-sm-10">
												<p><a href="#">@myticket</a>Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam<a href="#">#EratVolutpat</a>.</p>
											</div>
											<div class="col-sm-2">
												<span>18 min</span>
											</div>
										</li>
										<li class="row tweet-item">
											<div class="col-sm-10">
												<p><a href="#">@myticket</a> Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam nonummy nibh euismod dolore magna aliquam <a href="#">#EratVolutpat</a>.</p>
											</div>
											<div class="col-sm-2">
												<span>19 min</span>
											</div>
										</li>
										<li class="row tweet-item">
											<div class="col-sm-10">
												<p><a href="#">@myticket</a>Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam<a href="#">#EratVolutpat</a>.</p>
											</div>
											<div class="col-sm-2">
												<span>19 min</span>
											</div>
										</li>
										<li class="row tweet-item">
											<div class="col-sm-10">
												<p><a href="#">@myticket</a> Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam nonummy nibh euismod dolore magna aliquam <a href="#">#EratVolutpat</a>.</p>
											</div>
											<div class="col-sm-2">
												<span>20 min</span>
											</div>
										</li>
										<li class="row tweet-item">
											<div class="col-sm-10">
												<p><a href="#">@myticket</a>Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam<a href="#">#EratVolutpat</a>.</p>
											</div>
											<div class="col-sm-2">
												<span>22 min</span>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<section class="section-sponsors">
			<div class="container">
				<div class="section-content">
					<ul class="row">
						<li class="col-sm-3">
							<a href="#">
								<img src="static/images/sponsor1.jpg" alt="image">
							</a>
						</li>
						<li class="col-sm-3">
							<a href="#">
								<img src="static/images/sponsor2.jpg"  alt="image">
							</a>
						</li>
						<li class="col-sm-3">
							<a href="#">
								<img src="static/images/sponsor3.png"  alt="image">
							</a>
						</li>
						<li class="col-sm-3">
							<a href="#">
								<img src="static/images/sponsor4.jpg"  alt="image">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		
		<section class="section-newsletter">
			<div class="container">
				<div class="section-content">
					<h2>Stay Up to date With Your Favorite Events!</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh <br> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
					<div class="newsletter-form clearfix">
						<form method="POST" enctype="multipart/form-data" action="{{url_for('web.suscribetonewsletter')}}">
							{{ newsletterform.hidden_tag() }}
						<input type="email" name = "email" placeholder="Your Email Address">
						<input type="submit" value="Subscribe">
						</form>
					</div>
				</div>
			</div>
		</section>
		
		
{% endblock %}