{% extends "web/base.html" %}
{% block content %}
<section class="section-page-header">
    <div class="container">
        <h1 class="entry-title">Order Details</h1>
    </div>
</section>

<section class="section-page-content">
    <div class="container">
        <div class="row">
            <div id="primary" class="col-md-6">
                <div class="section-order-details-event-title">
                    <span class="event-caption">{{ticket.name}}</span>
                    <h2 class="event-title"><strong>{{ticket.event.name}}</strong></h2>
                    <img class="event-img" src="{{ticket.image}}" alt="image">
                </div>
            </div>	
            
            <div id="secondary" class="col-md-6">
                <div class="section-order-details-event-info">
                    <div class="venue-details">
                        <h3>Venue & Event Information</h3>
                        <div class="venue-details-info">
                            <p>{{ticket.event.location}}</p>
                            <p>Wednesday <span>10 August 2016 8:30 PM</span></p>
                        <br>
                            <h4>Includes:</h4>
                            {% for val in ticket.features | split(",") %}
                            <p>{{ val }}</p>
                        {% endfor %}
                        </div>
                    </div>
                    
                    <div class="seat-details">
                        <h3>Seats Order Information</h3>
                        <div class="seat-details-info">
                           
                            <div class="qty-select">
                                <div class="qty-minus"> 
                                    <a class="qty-btn" href="#">-</a>
                                </div>
                               
                                <div class="qty-plus"> 
                                    <a class="qty-btn" href="#">+</a>
                                </div>
                                <div class="qty-input">
                                    <input type="text" class="quantity-input" value="1" />
                                </div>
                               
                            </div>
                        </div>
                        <div class="seat-details-info-price">
                            <table class="table total-price">
                                <tbody>
                                    <tr>
                                        <td>Total Price</td>
                                        <td class="price">USD $134</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="section-order-details-event-action">
                    <ul class="row">
                        <li class="col-xs-6 col-sm-6">
                            <a class="secondary-link" href="#">Back</a>
                        </li>
                        <li class="col-xs-6 col-sm-6">
                            <a class="primary-link" href="/add_to_cart?name={{ticket.name}}&price={{ticket.price}}&id={{ticket.id}}">Add to cart</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}